.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
# Intellij project files
*.iml
*.ipr
*.iws
/.idea
/.gradle
build/
app/src/main/assets/ReactNativeDevBundle.js
captures/Trace_2016.01.06_15.34.50.trace
