<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aizou.peachtravel">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />


    <application
        android:name=".config.PeachApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.my.ShareAccountActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".module.my.SettingActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.AboutActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.FeedbackActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.ForgetPwdActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.VerifyPhoneActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.ResetPwdActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.RegActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.AccountActvity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.ModifyNicknameActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.ModifySignActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.ModifyGenderActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.ModifyPwdActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".module.my.PhoneBindActivity"
            android:label="@string/app_name">
        </activity>

        <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent1103275581" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54376b1bfd98c554cf025d0c" >
        </meta-data>

    </application>

</manifest>
