<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuejian.client.lxp"
    android:versionCode="9"
    android:versionName="@string/app_version">
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 读取震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.intent.RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="getui.permission.GetuiService.com.aizou.peachtravel" />

    <!--自定义权限-->
    <permission
        android:name="getui.permission.GetuiService.com.aizou.peachtravel"
        android:protectionLevel="normal"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".config.PeachApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".module.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Start"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.notify" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.GuideActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.PeachWebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.SearchExpertActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.SelectDestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name=".module.dest.SelectCityActivity"
            android:label="旅行派"
            android:screenOrientation="portrait"/>

        <activity android:name=".module.dest.SearchDestyCityActivity"
            android:label="旅行派"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.SearchDestForPoiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.StrategyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".module.dest.DayAgendaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            />
        <activity
            android:name=".module.dest.SearchSomeCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            />
        <activity
            android:name=".module.dest.ActivityPlanEditor"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.SearchForPoi"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.AddPoiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.dest.SearchPoiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.PoiListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.dest.SpotListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.dest.MoreCommentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.dest.CityDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.PicPagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.PicPagerActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.MoreTravelNoteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.TravelNoteDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.CityPictureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.PoiDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.SpotDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.SpotIntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.dest.SearchAllActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".module.dest.SearchTypeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.ImageViewPagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>

        <activity
            android:name=".module.my.ShareAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.my.TravelExpertApplyActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.my.MyProfileActivity"
            android:label="旅行派"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.FeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/WhiteTheme"
            />
        <activity
            android:name=".module.my.ForgetPwdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.VerifyPhoneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.ResetPwdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.RegActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.my.AccountActvity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.ModifyNicknameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.SelectResidentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.ModifySignActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.ModifyGenderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.MyFootPrinterActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.ModifyPwdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.PhoneBindActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.SetPwdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.ModifyStatusOrSexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.my.CustomGalleryActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="lvxingpai.ACTION_PICK" />
                <action android:name="lvxingpai.ACTION_MULTIPLE_PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.my.GalleryCatergoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".module.my.GalleryDetailActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name=".module.my.UploadAlbumActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".module.my.UserAlbumInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.my.EditAlbumDescActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.toolbox.im.GuilderListActivity"
            android:screenOrientation="portrait"/>

        <!-- ###################IM Acitivity###################### -->
        <activity
            android:name=".module.toolbox.im.IMMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".module.toolbox.HisMainPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".module.toolbox.im.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.toolbox.im.IMShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 聊天页面 -->
        <activity
            android:name=".module.toolbox.im.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"/>
        <!-- 添加好友 -->
        <activity
            android:name=".module.toolbox.im.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>
        <!-- 好友详情 -->
        <!-- 搜索好友详情 -->
        <!-- 添加手机通讯录好友 -->
        <activity
            android:name=".module.toolbox.im.AddPhoneContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 群组详情 -->
        <!-- 修改群组名称 -->
        <activity
            android:name=".module.toolbox.im.ModifyGroupNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 收藏夹 -->
        <!-- 群组列表 -->
        <activity
            android:name=".module.toolbox.im.GroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 新建群组 -->
        <activity
            android:name=".module.toolbox.im.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 退出群组提示框 -->
        <!-- 群组选人 -->
        <activity
            android:name=".module.toolbox.im.PickContactsWithCheckboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 地图 -->
        <!--<activity-->
            <!--android:name=".module.toolbox.im.BaiduMapActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/horizontal_slide"/>-->
        <activity
            android:name=".module.toolbox.im.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name=".module.toolbox.im.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 转发消息用户列表页面 -->
        <!-- 自定义的contextmenu -->
        <activity
            android:name=".module.toolbox.im.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"/>
        <!-- 自定义的alertdialog -->
        <activity
            android:name=".module.toolbox.im.IMAlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"/>
        <!-- 显示下载大图页面 -->
        <activity
            android:name=".module.toolbox.im.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 下载文件 -->
        <activity
            android:name=".module.toolbox.im.ShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 黑名单 -->
        <activity
            android:name=".module.toolbox.im.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>

        <!-- 公开的群聊列表 -->
        <activity
            android:name=".module.toolbox.im.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 语音通话页面 -->
        <activity
            android:name=".module.toolbox.im.VoiceCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nornal_style"/>
        <!-- 群聊简单信息 -->
        <activity
            android:name=".module.toolbox.im.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- choose video -->
        <activity
            android:name=".module.toolbox.im.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.toolbox.im.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- upload error log -->
        <activity
            android:name=".module.toolbox.im.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".module.toolbox.NearbyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <activity
            android:name=".module.toolbox.ExpertFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".module.dest.ReadMoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".module.dest.StrategyDomesticMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>
        <!--去过页面-->
        <!--攻略地图-->
        <activity
            android:name=".module.dest.StrategyMapActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>

        <activity
            android:name=".module.dest.RecDestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <activity
            android:name=".module.toolbox.StrategyListActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>

        <activity
            android:name=".module.dest.PoiSaveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>

        <receiver android:name="com.xuejian.client.lxp.common.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- ###################注册SDK使用的Activity###################### -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 高德地图-->
        <!--DevKey -->
        <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="${AMAP_KEY}"/>


        <!--DEV-->
        <!--android:value="4e22d882f8a2794150757c6be797e7e9" />-->
        <!--正式Key -->
        <!--android:value="f20e266c3a0f9cf4d232dcfa4eeb72d6" />-->


            <!--android:value="5e52974b98ed60f5fd81ce6de1860deb" />-->
        <!--备用签名更新坐标 1ebc37fe421415484068dad4493ffccb-->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB129WN9KPdWsTg2Kz0kQ3XheA_nec03XI" />


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="556bde0b67e58ea2ba003b0b"/>
        <!--54376b1bfd98c554cf025d0c-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 个推配置-->
        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="aGqQz4HiLg70iOUXheRSZ3" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="O2ooToqPrsAGJYy3iZ54d7" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="HBD1EqFmJF78PnWEy5KEM5" />
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice"/>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />
        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.aizou.peachtravel"
            android:process=":pushservice" />
        <!-- android:authorities="downloads.第三方包名" -->

        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false">
            <intent-filter>
                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改  -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.aGqQz4HiLg70iOUXheRSZ3" />

            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 个推SDK配置结束 -->
        <receiver
            android:name=".module.toolbox.MessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.aGqQz4HiLg70iOUXheRSZ3" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
